.main {
  margin: 50px;
  width: 90vw;
}

.uploadedImage {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  display: block;
}

.retryButton {
  margin-top: 10px;
}

.dx-datagrid-edit-form .uploadedImage {
  max-width: 150px;
  max-height: 150px;
}