::ng-deep #gridContainer {
  min-height: 530px;
  width: 1000px;
}

::ng-deep .dx-row img {
  height: 50px;
}

::ng-deep .retryButton {
  margin-left: 7px;
}

::ng-deep .uploadedImage {
  height: 50px;
  margin-left: 7px;
  margin-bottom: 7px;
}
