<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="devextreme-controls-netcore" value="https://nuget.devexpress.com/YOUR_KEY_HERE/api/v3/index.json" />
  </packageSources>
</configuration>
